# Data tracked by DVC
data/processed_data
data/raw_data
.dvc/cache
data/intermediate/  # Example for intermediate DVC outputs

# mlruns
mlruns/

# Model files tracked by DVC
models/*.pkl
# models/*.h5
# models/*.pth
# models/saved_model/

# Python bytecode
__pycache__/
*.pyc

# Virtual environment
venv/
env/
.venv/

# OS-specific files
.DS_Store
Thumbs.db

# Logs or temporary files (if any)
*.log
*.tmp

# Environment variables
.env

# IDE specific (add if you use these)
.idea/
.vscode/